<h1> My Cookbook </h1>
<h3> Double Click on a recipe to view it! </h3>
<div id="dash-wrapper">
<% if current_user %>

<% current_user.favorites.includes(:recipe).each do |fav| %>
  <div class="thumbnails" style="background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url(<%= fav.recipe.img_url %>)" id=<%= "thumb#{fav.recipe.id}" %>>
      <p id="thumb-text"> <%= fav.recipe.title %> </p>

  <div id="dropdown" class="dropdown-content">
    <p> <%= link_to "View Recipe", fav.recipe.source %> </p>
    <hr>
    <p> <%= link_to "Remove from Cookbook", remove_external_favorite_search_path(fav), method: :delete, class: "no-fav" %> </p>
  </div>

     <!-- <iframe id="frame" src="" width="100%" height="300">
     </iframe> -->
  </div>
<% end %>
<% end %>
</div>
