<h1> Foodies Anonymous </h1>

<h2> Discover your next favorite dish... </h2>

<div id="home-wrapper">
  <%= form_tag(recipes_path, :method => "get", id: "looking-for") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Type ingredient or recipe here and hit 'ENTER'" %>
      <!-- <%= submit_tag "Go!", :name => nil %> -->
  <% end %>


<!-- <hr> -->

<% @recipes.each do |recipe| %>
  <div class="home-thumbnails" style="background: url(<%= recipe.img_url %>)" id=<%= "thumb#{recipe.id}" %>>
    <p id="thumb-text"> <%= link_to recipe.title, recipe.source %> </p>

    <% if current_user %>
      <% if recipe.users.include? current_user %>
        <%= link_to "&#9733;".html_safe, remove_favorite_recipe_path(recipe), method: :delete, class: "fav" %>
      <% else %>
        <%= link_to "&#9733;".html_safe, add_favorite_recipe_path(recipe), method: :post, class: "no-fav" %>
      <% end %>
    <% end %>
  </div>
<% end %>
</div>

<% if current_user %>
<ul>
<% current_user.favorites.includes(:recipe).each do |fav| %>
  <li><%= fav.recipe.title %> </li>
<% end %>
</ul>
<% end %>
