<%= link_to "&larr; Back".html_safe, recipes_path %>
<article>
  <h2><%= @recipe.title %></h2>
  <time>Updated <%= @recipe.updated_at %></time>
  <img src="<%= @recipe.img_url %>">
  <p><%= @recipe.description %></p>
  <%= link_to "Edit recipe", edit_recipe_path(@recipe) %>
  <%= link_to "Delete recipe", recipe_path(@recipe), method: :delete %>
  <%= link_to "&hearts;".html_safe, add_favorite_recipe_path(course), method: :delete, class: "fav" %>
</article>
